
.benefits {
  background: #F7F7F7 0 0 no-repeat padding-box;
  padding: 42px;

  .box {
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .macbook {
      margin-bottom: 37px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border: 1px solid #E8E9ED;
      background-color: white;
      position: relative;
      width: 1124px;
      height: 370px;
      @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 314px;
        height: 370px;
        margin-bottom: 5px;
      }

      .macbook_img {
        margin-right: 113px;
        margin-bottom: 38px;
        position: relative;
        @include mobile {
          margin-bottom: 27px;
          margin-top: 50px;
        }

        &::before {
          content: "";
          width: 180px;
          height: 180px;
          background-color: red;
          display: block;
          border-radius: 40px;
          position: absolute;
          right: 0;
          top: -30px;
          transform: rotate(45deg);
          @include mobile {
            width: 127px;
            height: 127px;

          }
        }

        img {
          width: 386px;
          height: auto;
          position: relative;
          z-index: 2;
          margin-left: 133px;
          @include mobile {
            width: 193px;
          }
        }
      }

      .macbook_txt {
        background-color: white;
        box-sizing: content-box;
        margin: 90px 36px;
        @include mobile{
          margin: auto 20px 30px 20px;
        }

        p {
          text-align: left;
          font: normal normal normal 16px/22px Open Sans;
          letter-spacing: 0;
          color: #000000;
          opacity: 1;
          position: relative;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          margin-top: 30px;
          @include mobile {
            font: normal normal normal 14px/19px Open Sans;
            margin: 10px auto;
          }
          @include desktop {
            &::after {
              content: "";
              position: absolute;
              background: #FFFFFF 0 0 no-repeat padding-box;
              border-radius: 5px;
              opacity: 1;
              display: block;
              width: 328px;
              border: 1px solid #FB3B64;
              margin-top: 50px;
            }
          }
        }
        h2 {
          text-align: left;
          font: normal normal normal 36px/42px Raleway;
          letter-spacing: 0;
          color: #000000;
          opacity: 1;
          @include mobile {
            font: normal normal normal 30px/35px Raleway;
          }
        }
      }
    }

    .phone {
      padding: 0 20px 0 70px;
      background-color: white;
      border: 1px solid #E8E9ED;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 37px;
      border-radius: 5px;
      flex-direction: row-reverse;
      width: 1124px;
      height: 370px;
      @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 314px;
        height: 370px;
        padding: 0;
      }

      .phone_img {
        position: relative;
        z-index: 2;
        margin-right: 156px;
        @include mobile {
          margin: 25px 156px auto 156px;
        }

        &::before {
          content: "";
          background-color: #08A6E4;
          position: absolute;
          border-radius: 50%;
          width: 320px;
          height: 320px;
          display: block;
          top: -15px;
          left: 5px;
          z-index: -1;
          @include mobile {
            width: 132px;
            height: 132px;
          }
        }

        img {
          width: 426px;
          height: auto;
          @include mobile {
            width: 175px;
          }
        }
      }

      .phone_txt {
        background-color: white;
        box-sizing: content-box;
        margin: 90px 36px;
        @include mobile {
          margin: auto 22px 25px 22px;
        }

        p {
          font: normal normal normal 16px/22px Open Sans;
          letter-spacing: 0;
          color: #000000;
          opacity: 1;
          position: relative;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          margin-top: 30px;
          margin-right: 20px;
          @include mobile {
            font: normal normal normal 14px/19px Open Sans;

          }
          @include desktop {
            &::after {
              content: "";
              position: absolute;
              background: #FFFFFF 0 0 no-repeat padding-box;
              border: 1px solid #08A6E4;
              border-radius: 5px;
              opacity: 1;
              display: block;
              width: 328px;
              margin-top: 50px;
            }
          }
        }

        h2 {
          text-align: center;
          font: normal normal normal 36px/42px Raleway;
          letter-spacing: 0;
          color: #000000;
          opacity: 1;
          margin-right: 20px;
          margin-top: 27px;
          @include mobile {
            margin-top: auto;
            font: normal normal normal 30px/35px Raleway;
          }
        }
      }
    }

    .tumpet {
      background-color: #F7F7F7;
      display: flex;
      border-radius: 5px;
      width: 1124px;
      height: 370px;
      @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 314px;
        margin-top: 41px;
      }

      .tumpet_txt {
        background-color: white;
        box-sizing: content-box;
        border: 1px solid #E8E9ED;

        p {
          text-align: left;
          font: normal normal normal 16px/22px Open Sans;
          letter-spacing: 0;
          color: #000000;
          opacity: 1;
          position: relative;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          margin: 30px 34px auto 35px;
          @include mobile {
            font: normal normal normal 14px/19px Open Sans;
            margin: 10px 22px 25px 22px;
          }
          @include desktop {
            &::after {
              content: "";
              position: absolute;
              background: #FFFFFF 0 0 no-repeat padding-box;
              border-radius: 5px;
              opacity: 1;
              display: block;
              width: 328px;
              border: 1px solid #55DFB4;
              margin-top: 50px;
            }
          }
        }
        h2 {
          text-align: left;
          font: normal normal normal 36px/42px Raleway;
          letter-spacing: 0;
          color: #000000;
          opacity: 1;
          margin-left: 35px;
          margin-top: 70px;
          @include mobile{
            font: normal normal normal 30px/35px Raleway;
            margin-left: 22px;
          }
        }
      }

      .tumpet_img {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #55DFB4;
        margin-left: 60px;
        position: relative;
        border: 1px solid #E8E9ED;
        @include mobile {
          width: 100%;
          margin: 0;
        }

        img {
          width: 295px;
          height: auto;
          margin-top: 55px;
          position: relative;
          z-index: 2;

        }
      }
    }
  }
}